@model IEnumerable<_2010100009_Web.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @if (item.IsAdmin)
                    {
                        <a asp-action="RemoveAdmin" asp-route-id="@item.Id" class="btn btn-danger">Remove Admin</a>
                    }
                    else
                    {
                        <a asp-action="MakeAdmin" asp-route-id="@item.Id" class="btn btn-primary">Make Admin</a>
                    }

                </td>
                <td>
                    @if (item.IsDepartmentAdmin)
                    {
                        <a asp-action="RemoveDepartmentAdmin" asp-route-id="@item.Id" class="btn btn-danger">Remove Department Admin</a>
                    }
                    else
                    {
                        <a asp-action="MakeDepartmentAdmin" asp-route-id="@item.Id" class="btn btn-primary">Make Department Admin</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

