@model Student
@{
    ViewData["Title"] = "Students Detail Page";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1>Details</h1>

<div class="w3-col l3 m6 w3-margin-bottom">
    <div class="form-group">
        @{ string aa = Model.ImageUrl;
            <img src="~/uploads/@aa" class="img-fluid" alt="user-image" width="200" height="auto" />
        }
    </div>
    <h3>@Model.Name</h3>
    <p class="w3-opacity">@Model.Department</p>
    <dd class="col-sm-10">
        @Html.Raw(Model.Description.Replace(System.Environment.NewLine, "<br />"))
    </dd>
    <p>@Model.StuID</p>
    <a asp-controller="Students"
       asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-primary">Edit</a>
</div>
